{% load static %}
{% load compress %}

<!DOCTYPE html>
<html style="width: 100% !important;">
<head>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous">
  </script>
  <link href="{% static 'css/chatbot.css' %}" rel=stylesheet type="text/css">
  <link href="{% static 'css/main.css' %}" rel=stylesheet type="text/css">

  <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous"
        rel="stylesheet">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous"
        rel="stylesheet">

  <!-- reCaptcha -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <title></title>

</head>


</html>